body {
    margin: 2% 4% auto;
    padding: 0;
    line-height: 1.8em;
    font-size: 18px;
}

input[type=text] {
    width: 70%;
    display: block;
}
.centerer {
    text-align: center;
}
.horizontal {
    display: inline-block;
    height: 100%;
    margin: auto;
    text-align: left;
    vertical-align: top;
    width: 33%;
}
